@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gym App</h1>
    <p>The app where you can track your workouts routine, and learn how to do it better.</p>
    <p>In development ...</p>
</div>
